.imagenyo{
    height: 10.cm;
    width: 6.3cm;
}
.img-insta{
    width: 0.5cm;
    height: 0.5cm;
}

body{
    background-color: #949494;
}
.barra{
    background-color: #212121;
}

.titulo{
    color: #EEEEEE;
}

.titulo2{
color: #EEEEEE;
}
.titulo3{
    color: #EEEEEE;
}

.titulo4{
    color: #EEEEEE;
}